* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: grey;
}

.calculator {
  max-width: 300px;
  margin: 100px auto;
  border: 1px solid #ddd;
  border-radius: 15px;
  background:#ffe5c0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  padding: 10px;
  background: #2ec4b6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.display input[type="text"] {
  font-size: 24px;
  color: #cbf3f0;
  border: none;
  background: none;
  width: 100%;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  font-family: 'Coustard', serif;
  font-size: 24px;
  color: #ffcf90;
  border: none;
  background: #ff9f1c;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #b06f14;
}

button:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}