* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 94%, rgba(252,167,67,1) 97%);
}

.calculator {
  max-width: 300px;
  margin: 100px auto;
  border: 1px solid #ff9f1c;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  padding: 10px;
}

.display input[type="text"] {
  font-size: 24px;
  border: none;
  background: none;
  width: 100%;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  font-family: 'Coustard', serif;
  font-size: 24px;
  color:white;
  border: 1px solid #ff9f1c;
  border-radius: 10px;
  background: transparent;
  width: 60px;
  height: 60px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #b06f14;
}

button:active {
  transform: translateY(1px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.equal{
  width:133px;
  grid-column: span 2;
  color:#ff9f1c;
  background:black;
}

.button-ac {
  color:#ff9f1c;
  background: rgb(0, 0, 0);
}